<!-- table to show the data of public agencies -->
<table id="tableData" class="hover row-border">
	<thead>
		<tr>
			<th>
				<center><font color="white"><strong>Nome do Órgão</strong></font></center>
			</th>
			<th>
				<center><font color="white"><strong>Quantidade de visualizações</strong></font></center>
			</th>
			<th>
				<center><font color="white"><strong>Gasto total (R$)</strong></font></center>
			</th>
		</tr>
	</thead>

	<tbody>
	<% @public_agencies.each do |agency| %>
	  	<tr onclick="location.href = '<%=public_agency_path(agency.id)%>';" style="cursor: hand;">  
		  	<td>
		  	<center><%= agency.name%></center>
		  	</td>
		  	<td>
		  		<center><%= agency.views_amount %></center>
		  	</td>
		  	<td>
		  	
		  	<center><%= @total_expense_agency[agency.id] %></center>
		  	</td>
	  	</tr>
	<% end %>
	</tbody>
</table>