<!-- table to show the data of public agencies -->
<div id="infor_link" >Selecione um órgão público</div>
<div id="tableLocation">
<table id="tableData" class="hover row-border" style="background:#333333;">
	<thead>
		<tr>
			<th>
				<center><font color="white"><strong>Nome do Órgão</strong></font></center>
			</th>
			<th>
				<center><font color="white"><strong>Quantidade de visualizações</strong></font></center>
			</th>
			<th>
				<center><font color="white"><strong>Gasto total (R$)</strong></font></center>
			</th>
		</tr>
	</thead>

	<tbody>
	<% @public_agencies.each do |agency| %>
	  	<tr onclick="location.href = '<%=public_agency_path(agency.id)%>';" style="cursor: pointer;">  
		  	<td>
		  	<center><%= agency.name%></center>
		  	</td>
		  	<td>
		  		<center><%= agency.views_amount %></center>
		  	</td>
		  	<td>
		  	
		  	<center><%= @total_expense_agency[agency.id] %></center>
		  	</td>
	  	</tr>
	<% end %>
	</tbody>
</table>
</div>
