<%= provide(:title, "Orgaos Publicos") %>

<header class="codrops-header">
		<h4>Lista de Órgãos públicos</h4>
</header>

<% if (@public_agencies.empty?) %>
  <strong>Não foi encontrado nenhum órgão</strong>
<% else %>
<!--	render the data_wice to show the list of public agencies -->
<%= render 'list_public_agencies' %>

<% end %>
