<div id="agencynetwork">
</div>
<script type="text/javascript">
	var dataAgency = '<%= raw @data_superior_agency %>';
	dataAgency = JSON.parse(dataAgency); 
	console.log(dataAgency);
	var options = {}
	var network = createGraph(dataAgency, "agencynetwork", options);
</script>