<script type="text/javascript">  

    var data = ('<%= raw @correct_datas%>');

    console.log(data)
    var correct_data = JSON.parse(data);
    console.log(correct_data)
    
    var arrayKeys = new Array();
    var arrayValues = new Array();
    var arrayRemovedValues = [];
    var arrayRemovedKeys = [];


    var spiderChart;

    function remove_all_elements_list() {
      for(var i = 0, l = arrayRemovedKeys.length; i < l; i++) {
        $("#"+arrayRemovedKeys[i].replace(/\s/g,"_")).remove();
        console.log(arrayRemovedKeys.length);
      }
      arrayRemovedValues = [];
      arrayRemovedKeys = [];
    }

    function select_top_10() {
      var data = ('<%= raw @top_10_data%>');
      var correct_data = JSON.parse(data);
      drawChart(correct_data);
      remove_all_elements_list();
    }

    function select_default() {
      var data = ('<%= raw @correct_datas%>');
      var correct_data = JSON.parse(data);
      drawChart(correct_data);
      remove_all_elements_list(); 
    }
    
    function transform_arrays_in_hash(arrayKeys, arrayValues){
      var newHash = {};
      for(var i = 0, l = arrayKeys.length; i < l; i++) {
          newHash[arrayKeys[i]] = arrayValues[i];
      }
      return newHash;
    }

    function get_list_removed_point(arrayKeys, arrayValues, index){
      arrayRemovedKeys.push(arrayKeys[index]);
      arrayRemovedValues.push(arrayValues[index]);
    }

    function readd_element(name_element) {
      index = arrayRemovedKeys.indexOf(name_element);
      arrayKeys.push(arrayRemovedKeys[index]);
      arrayValues.push(arrayRemovedValues[index]);

    }

    function generate_list(name_element) {
      name_element_id = name_element.replace(/\s/g,"_");

      new_element = "<li class=\"remove_element\" id=\""+name_element_id+"\">"+
                    name_element+"</li>"
      $('#removed_chart_elements').append(new_element);

      console.log("#"+name_element_id);
      //console.log(name_element);

      $("#"+name_element_id).click(function(){
        readd_element(name_element);
        correct_datas = transform_arrays_in_hash(arrayKeys,arrayValues);
        drawChart(correct_datas);
        $(this).remove();
      });
    }


    function remove_point(element){
      spiderChart = $('#spiderChart').highcharts();
      console.log(spiderChart);
      var name = '';
      if ( element[0].innerHTML.match('<tspan>')){
        name = element[0].lastChild.innerHTML;
        console.log("if");
      }else{
        name = element[0].innerHTML;
        console.log("else");
      }
      var index;
      for (index=0; index < spiderChart.series[0].data.length; index++){
        console.log(index);
        if (spiderChart.series[0].data[index].category === name){
          console.log(index);
          break;
        }
      }

      get_list_removed_point(arrayKeys,arrayValues, index);
      generate_list(arrayKeys[index]);

      arrayKeys = arrayKeys.remove(index,1);
      arrayValues = arrayValues.remove(index,1);
      console.log(index);

      var newHash = {};
      newHash = transform_arrays_in_hash(arrayKeys, arrayValues);

      console.log(arrayKeys);
      console.log(arrayValues);
      console.log(newHash);
      drawChart(newHash);
    }
    $(document).ready(function(){  
      drawChart(correct_data); 
      
    });

    function setData(correct_data,arrayKeys,arrayValues){
        arrayKeys.clear();
        arrayValues.clear();
        for (var key in correct_data) {
            arrayKeys.push(key);
            arrayValues.push(correct_data[key]);
        }
    }

    function drawChart(correct_data) {
        setData(correct_data,arrayKeys,arrayValues)
        Highcharts.setOptions({
            lang: {
                numericSymbols: ['Mil','Milhão','Bilhões','Trilhão']
            }
        });
        
    $('#spiderChart').highcharts({

        chart: {
            polar: true,
            type: 'line'
        },
        title: {
            text: '',
            x: -80
        },
        pane: {
            size: '80%'
        },
        xAxis: {
            categories: arrayKeys,
            tickmarkPlacement: 'on',
            lineWidth: 0
        },
        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },
        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>R${point.y:,.0f}</b><br/>'
        },
        series: [{
            name: 'Gastos por tipo de função',
            data: arrayValues,
            pointPlacement: 'on'
        }]

    });
    $(".highcharts-xaxis-labels text").click(function(){
        remove_point($(this));
    });
}


Highcharts.theme = {
   colors: ["#2b908f", "#90ee7e", "#f45b5b", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
      "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
   chart: {
      backgroundColor: {
         linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
         stops: [
            [0, '#2a2a2b'],
            [1, '#3e3e40']
         ]
      }
   },
   title: {
      style: {
         color: '#E0E0E3',
         textTransform: 'uppercase',
         fontSize: '20px'
      }
   },
   xAxis: {
      gridLineColor: '#707073',
      labels: {
         style: {
            color: '#E0E0E3'
         }
      }
   },
   yAxis: {
      gridLineColor: '#707073',
      labels: {
         style: {
            color: '#E0E0E3'
         }
      }
     
   },
   plotOptions: {
      series: {
         dataLabels: {
            color: '#B0B0B3'
         },
         marker: {
            lineColor: '#333'
         }
      },
      boxplot: {
         fillColor: '#505053'
      },
      candlestick: {
         lineColor: 'white'
      }
   },
   legend: {
      itemStyle: {
         color: '#E0E0E3'
      },
      itemHoverStyle: {
         color: '#FFF'
      },
      itemHiddenStyle: {
         color: '#606063'
      }
   },

   navigation: {
      buttonOptions: {
         symbolStroke: '#DDDDDD',
         theme: {
            fill: '#505053'
         }
      }
   },
   // special colors for some of the
   legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
   background2: '#505053',
   dataLabelsColor: '#B0B0B3',
   textColor: '#C0C0C0',
   contrastTextColor: '#F0F0F3',
   maskColor: 'rgba(255,255,255,0.3)'
};

Highcharts.setOptions(Highcharts.theme);
</script>

<div id="spiderChart" style="height: 500px; margin: 0 auto"></div>



