<script type="text/javascript">  

    var data = ('<%= raw @correct_datas%>');
    // console.log(data)
    var correct_data = JSON.parse(data);
    // console.log(correct_data)
    
    var arrayKeys = new Array();
    var arrayValues = new Array();
    var remove = [];

    var spiderChart;

    function remover(element){
      spiderChart = $('#spiderChart').highcharts();
      console.log(spiderChart);
      var name = '';
      if ( element[0].innerHTML.match('<title>')){
        name = element[0].lastChild.innerHTML;
      }else{
        name = element[0].innerHTML;
      }
      var index;
      for (index=0; index < spiderChart.series[0].data.length; index++){
        if (spiderChart.series[0].data[index].category === name){
          console.log(index);
          break;
        }
      }

      var newArrayKeys = arrayKeys.remove(index,1);
      var newArrayValues = arrayValues.remove(index,1);
      var newHash = {};
      for(var i = 0, l = newArrayKeys.length; i < l; i++) {
          newHash[newArrayKeys[i]] = newArrayValues[i];
      }
      console.log(newArrayKeys);
      console.log(newArrayValues);
      console.log(newHash);
      drawChart(newHash);
    }
    $(document).ready(function(){  
      drawChart(correct_data); 
      $(".highcharts-xaxis-labels text").click(function(){
        remover($(this));
      });
    });
    function setData(correct_data,arrayKeys,arrayValues){
        arrayKeys.clear();
        arrayValues.clear();
        for (var key in correct_data) {
            arrayKeys.push(key);
            arrayValues.push(correct_data[key]);
        }

    }


    function drawChart(correct_data) {
        setData(correct_data,arrayKeys,arrayValues)
        Highcharts.setOptions({
            lang: {
                numericSymbols: ['Mil','Milhão','Bilhões','Trilhão']
            }
        });
        
    $('#spiderChart').highcharts({

        chart: {
            polar: true,
            type: 'line'
        },
        title: {
            text: 'Gasto da federação por função',
            x: -80
        },
        pane: {
            size: '80%'
        },
        xAxis: {
            categories: arrayKeys,
            tickmarkPlacement: 'on',
            lineWidth: 0
        },
        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },
        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>R${point.y:,.0f}</b><br/>'
        },
        series: [{
            name: 'Gastos por tipo de função',
            data: arrayValues,
            pointPlacement: 'on'
        }]

    });
}

Highcharts.theme = {
   colors: ["#2b908f", "#90ee7e", "#f45b5b", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
      "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
   chart: {
      backgroundColor: {
         linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
         stops: [
            [0, '#2a2a2b'],
            [1, '#3e3e40']
         ]
      }
   },
   title: {
      style: {
         color: '#E0E0E3',
         textTransform: 'uppercase',
         fontSize: '20px'
      }
   },
   xAxis: {
      gridLineColor: '#707073',
      labels: {
         style: {
            color: '#E0E0E3'
         }
      }
   },
   yAxis: {
      gridLineColor: '#707073',
      labels: {
         style: {
            color: '#E0E0E3'
         }
      }
     
   },
   plotOptions: {
      series: {
         dataLabels: {
            color: '#B0B0B3'
         },
         marker: {
            lineColor: '#333'
         }
      },
      boxplot: {
         fillColor: '#505053'
      },
      candlestick: {
         lineColor: 'white'
      }
   },
   legend: {
      itemStyle: {
         color: '#E0E0E3'
      },
      itemHoverStyle: {
         color: '#FFF'
      },
      itemHiddenStyle: {
         color: '#606063'
      }
   },

   navigation: {
      buttonOptions: {
         symbolStroke: '#DDDDDD',
         theme: {
            fill: '#505053'
         }
      }
   },
   // special colors for some of the
   legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
   background2: '#505053',
   dataLabelsColor: '#B0B0B3',
   textColor: '#C0C0C0',
   contrastTextColor: '#F0F0F3',
   maskColor: 'rgba(255,255,255,0.3)'
};

Highcharts.setOptions(Highcharts.theme);
</script>

<div id="spiderChart" style="width: 100%; height: 500px; margin: 0 auto"></div>



