<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style=""></div>

<script type="text/javascript">  

    var data = ('<%= raw @correct_datas%>');
    var correct_data = JSON.parse(data);   
    var array_keys = new Array();
    var array_values = new Array();

    $(document).ready(function(){  
    teste(correct_data);
    drawChart(); 

    });
    
    function teste(correct_data){

        for (var key in correct_data) {
            array_keys.push(key);
            array_values.push(correct_data[key]);
        }

    }


    function drawChart() {

    $('#container').highcharts({

        chart: {
            polar: true,
            type: 'line'
        },

        title: {
            text: 'Gasto da federação por função',
            x: -80
        },

        pane: {
            size: '80%'
        },

        xAxis: {
            categories: array_keys,
            tickmarkPlacement: 'on',
            lineWidth: 0
        },

        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },

        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>${point.y:,.0f}</b><br/>'
        },

        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 70,
            layout: 'vertical'
        },

        series: [{
            name: 'Actual Spending',
            data: array_values,
            pointPlacement: 'on'
        }]

    });
}

</script>