<%= @correct_datas %>
<p>


<!-- create the tabs and render the informations of the public agency -->
<div class = 'container-tabs'>
    <ul class="tabs">
    </ul>

    <div id="tab-1" class="tab-content current">
        <%= render 'chart_function' %>
    </div>
    <!-- <div id="tab-2" class="tab-content">
        huhuasaushuah
    </div>  -->
</div>

