
<div id="container" style="min-width: 400px; max-width: 900px; height: 600px; margin: 0 auto"></div>

<p>
<div id="tab-1" class="tab-content current">
        <%= render 'chart_function' %>
</div>


<%= @correct_datas %>