<% if (@entity[:agency].empty?) %>

<% else %>
	<table id="tableData" class="hover row-border" style="margin-top:70px; margin-bottom:40px;">
		<thead>
			<tr>
				<th>
					<center><font color="BLACK"><strong>Nome do Órgão</strong></font></center>
				</th>
				<th>
					<center><font color="BLACK"><strong>Gasto Total(R$)</strong></font></center>
				</th>
			</tr>
		</thead>
		<tbody>
		<% entity = 0
		   expense = 1
		@entity[:agency].each do |agency| %>
		  	<tr>
			  	<td>
			  		<center><%= link_to agency[entity].name,public_agency_path(agency[entity].id)%></center>
			  	</td>
			  	<td>	
			  		<center><%= agency[expense] %></center>
			  	</td>
		  	</tr>
		<% end %>
		</tbody>
	</table>
<% end %>