
	<table id="tableData1" class="hover row-border" style="margin-top:70px; margin-bottom:40px;">
		<thead>
			<tr>
				<th>
					<center><font color="BLACK"><strong>Nome da Empresa</strong></font></center>
				</th>
				<th>
					<center><font color="BLACK"><strong>Gasto Total na Empresa (R$)</strong></font></center>
				</th>
			</tr>
		</thead>
		<tbody>
		<% entity = 0
		   expense = 1
		@results[:company].each do |company| %>
		  	<tr onclick="location.href='<%=  company_path(company[entity].id) %>'" style="cursor: pointer;">
			  	<td>
			  		<center><%= company[entity].name %></center>
			  	</td>
			  	<td>	
			  		<center><%= company[expense] %></center>
			  	</td>
		  	</tr>
		<% end %>
		</tbody>
	</table>
