<div style="color: #999999;">
<table id="tableData" class="hover row-border" style="background:#333333;margin-top:70px; margin-bottom:40px;">
		<thead>
			<tr>
				<th>
					<center><font color="white"><strong>Entidade</strong></font></center>
				</th>
				<th>
					<center><font color="white"><strong>Nome do Órgão</strong></font></center>
				</th>
				<th>
					<center><font color="white"><strong>Gasto Total(R$)</strong></font></center>
				</th>
				
			</tr>
		</thead>
		<tbody>
		<% entity = 0
		   expense = 1
		@results[:agency].each do |agency| %>
		  	<tr onclick="location.href='<%= public_agency_path(agency[entity].id)%>'" style="cursor: pointer;">
		  		<td>
		  			<center>Órgão público</center>
		  		</td>
			  	<td>
			  		<center><%= agency[entity].name %></center>
			  	</td>
			  	<td>	
			  		<center><%= agency[expense] %></center>
			  	</td>
		  	</tr>
		<% end %>
		</tbody>
	</table>
</div>