<% if (@entity[:company].empty?) %>
  <!--<strong><font color="red" size="12px">Nenhuma Empresa Encontrado</font></strong>-->
<% else %>
	<table id="tableData1" class="hover row-border" style="margin-top:70px; margin-bottom:40px;">
		<thead>
			<tr>
				<th>
					<center><font color="BLACK"><strong>Nome da Empresa</strong></font></center>
				</th>
				<th>
					<center><font color="BLACK"><strong>Gasto Total na Empresa (R$)</strong></font></center>
				</th>
			</tr>
		</thead>
		<tbody>
		<% entity = 0
		   expense = 1
		@entity[:company].each do |company| %>
		  	<tr>
			  	<td>
			  		<center><%= link_to company[entity].name, company_path(company[entity].id) %></center>
			  	</td>
			  	<td>	
			  		<center><%= company[expense] %></center>
			  	</td>
		  	</tr>
		<% end %>
		</tbody>
	</table>
<% end %>