<center>
    <h2> 
        <strong>Resultado da Pesquisa</strong>
    </h2>
</center>

<%if @results.empty? %>
    <h1> Não encontrou nenhum resultado</h1>
<%else %>
    <%= render 'list_agencies' %>
    <%= render 'list_companies' %>
    <%= render 'list_programs' %>
<% end %>
<div id="margin" style="margin-bottom:150px;"></div>