<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/funnel.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script>

Array.prototype.clone = function() {
    return this.slice(0);
};
Array.prototype.remove = function(start, end) {
  this.splice(start, end);
  return this;
}
var dataController = JSON.parse('<%= raw @all_programs%>');
var removed=[],inChart = [];
inChart = dataController.clone();

$(function () {
    function createChart(dataUnorder){
        console.log(dataUnorder)
        dataUnorder.sort(function(a, b) {return b[1] - a[1]})
        dataUnorder.forEach(function (obj){
            $("#listChange ul").append("<li class='inChart'>"+obj[0]+"</li>");
        });
    }
    createChart(dataController);
    drawChart(dataController);
    $("#listChange ul li").click(function(){
        contentRemove = $(this)[0].innerHTML;

        var node = $(this);
        console.log(contentRemove);
        dataController.forEach(function(element){
            console.log(removed.indexOf(element) == -1);              
            if ( contentRemove === element[0] ){
                if( removed.indexOf(element) == -1 ){
                    removed.push(element);
                    inChart.remove(inChart.indexOf(element),1);
                    node.addClass("notInChart");
                    node.removeClass("inChart");
                }else{
                    node.addClass("inChart");
                    node.removeClass("notInChart");
                    inChart.push(element);
                    removed.remove(removed.indexOf(element),1);
                }                
            }
        });
        drawChart(inChart);
    });
    function drawChart(datas){
        console.log(datas);
        datas.sort(function(a, b) {return b[1] - a[1]})
    
        $('#container').highcharts({
        chart: {
            type: 'pyramid',
            marginRight: 400
        },
        title: {
            text: 'Programas',
            x: -50
        },
        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b> ({point.y:,.0f})',
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                    softConnector: true
                }
            }
        },
        legend: {
            enabled: false
        },
        series: [{
            name: 'Gastos R$ ',
            data:  datas
        }]
    });
    }
});
$(document).ready(function(){
    var real_expense = '<%= raw @all_programs %>';
    
    if( real_expense != 0 ){
        $('.msg_error').remove();
    }else{
        setTimeout(function(){
            $('.msg_error').remove();
        }, 5000);
    }
 });
 $(document).ready( function () {
        $('#tableCompany').DataTable({
            data: JSON.parse('<%= raw @all_programs%>'),
            pageLength: 1000,
            lengthChange: false,
            searching: false,
            paging: false,
            oLanguage:{
            sUrl: '//cdn.datatables.net/plug-ins/1.10.9/i18n/Portuguese-Brasil.json'
            }
        });
        
    });

</script>
<!--Message that's show every messages of erro.-->
<% flash.each do |name, msg| %>
    <div class="msg_error">
        <i class="fa fa-warning"></i>
        <%= msg %>
    </div>
<% end %>
<div id="container" style="min-width: 410px; max-width: auto; height: 500px; margin: 0 auto"></div>
<!--Table with list of prgrams-->
<div id="listChange"><center>Selecione um ou mais programas para não serem visualizados no gráfico</center><ul></ul></div>
<div id="table_list_programs">
    <table id="tableCompany" style="display"> 
            <thead>
                <tr>
                    <td>
                        <center><font color="white"><strong>Nome da Empresa: </strong></font></center>
                    </td>
                    <td>
                        <center><font color="white"><strong>Gasto na Empresa (R$): </strong></font></center>
                    </td>
                </tr>
            </thead>
    </table>
</div>    
