<%exibe_dados.each do |v| %>
<%= link_to v, program_path(v) %>
<% end %>

<div id="mynetwork"></div>

<script type="text/javascript">
    var color = 'gray';
    var len = undefined;
    var data = JSON.parse('<%= raw @data_program %>');
    console.log(data);

    var nodes = data[0];
    var edges = data[1];

    // create a network
    var container = document.getElementById('mynetwork');
    var data = {
        nodes: nodes,
        edges: edges
    };
   var options = {
        nodes:{
                shape: 'icon',
                icon: {
                    face: 'FontAwesome',
                    code: '\uf015',
                    size: 50,
                    color: 'blue'
                }
            },
      "edges": {
        "smooth": {
          "type": "curvedCW",
          "forceDirection": "none",
          "color": "orange"
          }
      },
        groups: {
            mints: {color:'rgb(0,150,140)'},
            PublicAgency: {
                shape: 'icon',
                icon: {
                    face: 'FontAwesome',
                    code: '\uf19c',
                    size: 50,
                    color: 'black'
                }
            },
            Company: {
                shape: 'icon',
                icon: {
                    face: 'FontAwesome',
                    code: '\uf1ad',
                    size: 50,
                    color: 'orange'
                }
            },
            source: {
                color:{border:'white'}
            }
        },
        interaction:{
          navigationButtons: true,
          keyboard: true
        },
        "physics": {
    "repulsion": {
      "centralGravity": 1,
      "nodeDistance": 1000
    },
    "maxVelocity": 27,
    "minVelocity": 0.75,
    "solver": "repulsion"
  }

    };
    network = new vis.Network(container, data, options);
</script>
