<header class="codrops-header">
  <h1><%= @program.name %></h1>
</header>

<div class="container">
  <div class="z-depth-3" style="width:auto; margin-right:auto;  margin-left:auto; margin-bottom:30px;">
    <div id="mynetwork"></div>
  </div>

  <div class="row">
      <div class="col s6 m5">
        <div class="card-panel orange">         
          <span class="white-text">
      <b>Descrição do gráfico</b></p>
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
        </div>
      </div>
      <div class="col s6">
        <div class="card-panel orange">
          <span class="white-text">
        <b>Filtragem do gráfico</b>
        <p>     
    <p></p>
    <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Agrupe as Empreses e os Órgãos públicos" type="button" onclick="clusterByGroup()" value="Agrupar entidades">Agrupar
    </button>
    
    <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Desagrupe as Empreses e os Órgãos públicos" type="button" onclick="unclusterByGroup()" value="Desagrupar">Desagrupar
    </button>

<!--Make Pagination of materialize-->
<div id="page" style="color:black;"></div>

          </span>
         </div>
      </div>
    </div>
</div>



<script type="text/javascript">
var dataProgram = '<%= raw @data_program %>';
console.log(dataProgram);
dataProgram = JSON.parse(dataProgram);
dataInitialized = initializeDataProgram(dataProgram);
var network = createGraph(dataInitialized,'mynetwork');
$(document).ready(function(){
  console.log(dataProgram);
  createPagesButton(dataProgram[2]);
  network.on("selectNode", function(params) {
    console.log(params);
    if (params.nodes.length == 1) {
        if (network.isCluster(params.nodes[0]) == true) {
            network.openCluster(params.nodes[0]);
        }
    }
  });
});
  function changePage(page){
    $(".selected").removeClass('selected');
    $("#"+page).addClass('selected');

    console.log(network.isCluster(['Company']));
    makeChangePage(page,network);
  }  
  function clusterByGroup(){
    cluster(network);
  }
  function unclusterByGroup(){
    uncluster(network,['PublicAgency','Company']);
  }



</script>
