<h2>
<%= @program.name %>
</h2>
<div id="page"></div>
<div id="mynetwork"></div>

<input type="button" onclick="clusterByGroup()" value="Agrupar entidades" style="width:200px;"> <br/>
<input type="button" onclick="unclusterByGroup()" value="Desagrupar" style="width:200px;"> <br/>

<script type="text/javascript">
var dataProgram = '<%= raw @data_program %>';
console.log(dataProgram);
dataProgram = JSON.parse(dataProgram);
dataInitialized = initializeDataProgram(dataProgram);
var network = createGraph(dataInitialized,'mynetwork');
$(document).ready(function(){
  console.log(dataProgram);
  createPagesButton(dataProgram[2]);
  network.on("selectNode", function(params) {
    console.log(params);
    if (params.nodes.length == 1) {
        if (network.isCluster(params.nodes[0]) == true) {
            network.openCluster(params.nodes[0]);
        }
    }
  });
});
  function changePage(page){
    $(".selected").removeClass('selected');
    $("#"+page).addClass('selected');

    console.log(network.isCluster(['Company']));
    makeChangePage(page,network);
  }  
  function clusterByGroup(){
    cluster(network);
  }
  function unclusterByGroup(){
    uncluster(network,['PublicAgency','Company']);
  }



</script>
