<% provide(:title,"Inicial") %>
<!DOCTYPE html>
<html>
<head>
  <title>Aonde</title>
</head>
<body>


<div id="government_spending">
    <div id="video"></div>
    <div id="info">
      <h1>Conhecimento dos gastos federais</h1>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id lorem ut enim hendrerit luctus.</h2>
    </div>
</div>

<div id="free">
  <div class="container">
   <div class="row">
    <form class="col" onsubmit="return sendEmail('<%= contact_path %>')">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
           <%= email_field_tag :from%>
          <label for="email" data-error="wrong" data-success="right">Email</label>
        </div>
        <div class="input-field col s6">
          <%= text_field_tag :subject%>
          <label for="icon_prefix">Assunto</label>
        </div>
        <div class="input-field col s12">
           <textarea id="textarea1" class="materialize-textarea" length="500"<%= text_area_tag :text%></textarea>
           <label for="textarea1">Texto</label>
      </div>
      <button class="btn waves-effect waves-light" name="action">Enviar
        <i class="material-icons right">email</i>
      </button>
    </form>
  </div>
  </div>
</div>

<!-- Modal for error in send email -->
  <a id='error_field_contact' href="#error_send" class="modal-trigger"></a>

  <div id="error_send" class="modal">
    <div class="modal-content" id="message_error_field"></div>
    <div class="modal-footer">
      <a id='error_search_close' href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
  </div>
</div>

<footer></footer>

</body>
</html>
