<% provide(:title,"Inicial") %>
<!DOCTYPE html>
<html>
<head>
  <title>Aonde</title>
</head>
<body>


<div id="government_spending">
    <div id="video"></div>
    <div id="info">
      <h1>Conhecimento dos gastos federais</h1>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id lorem ut enim hendrerit luctus.</h2>
    </div>
</div>

<div id="free">
  <div class="container">
   <div class="row">
    <form class="col" action="<%= contact_path %>" method="post">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
           <%= email_field_tag :from, params[:from], required: true%>
          <label for="email" data-error="wrong" data-success="right">Email</label>
        </div>
        <div class="input-field col s6">
          <%= text_field_tag :subject, params[:subject], required: true%>
          <label for="icon_prefix">Assunto</label>
        </div>
        <div class="input-field col s12">
           <textarea id="textarea1" class="materialize-textarea" length="500"<%= text_area_tag :text, params[:text], required: true%></textarea>
           <label for="textarea1">Texto</label>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
        <i class="material-icons right">email</i>
      </button>
    </form>
  </div>
  </div>
</div>

</div>
<footer></footer>

</body>
</html>
