<%= provide(:title, "Orgao Publico") %>
<p>

<center><font color="white"><h4><%= link_to @superior_public_agency.name, superior_path(@superior_public_agency.id) %></h4></font></center>
<center><font color="white"><h3><%= @public_agency.name %></h3></font></center>

 	<div id="tab-5" class="tab-content current">
		<%= render 'chart_budget' %>
 	</div>
 	
 </div>