<!-- table to show the data of public agencies -->
<table id="tableData" class="display responsive no-wrap">
	<thead>
		<tr>
			<td>
				<strong>Nome Órgão</strong>
			</td>
			<td>
				<strong> Quantidade de visualizações</strong>
			</td>
			<td>
				<strong> Gasto total (R$)</strong>
			</td>
		</tr>
	</thead>
	<tbody>
	<% @public_agencies.each do |agency| %>
	  	<tr>
		  	<td>
		  	<%= link_to agency.name,public_agency_path(agency.id)%>
		  	</td>
		  	<td>
		  		<%= agency.views_amount %>
		  	</td>
		  	<td>
		  	<!-- <%=  number_with_precision(expenses_public_agency(agency.id), :delimiter => ".", :separator => ",", :precision => 2)%> -->
		  	<%= expenses_public_agency(agency.id) %>
		  	</td>
	  	</tr>
	<% end %>
	</tbody>
</table>