<table id="tableData" class="display">
    <thead>
	  <tr>
	    <td>
		  Nome
		</td>
		<td>
		  Numero Visualizacoes
		</td>
	  </tr>
	</thead>
	<tbody>
	  <% @public_agencies.each do |agency| %>
	  	<tr>
	  	  <td>
	  	  	<%= agency.name %>
	  	  </td>
	  	  <td>
	  	    <%= agency.views_amount %>
	  	  </td>  
	  	</tr>
	  <% end %>
	</tbody>
  </table>	