<!-- table to show the data of public agencies -->
<table id="tableData" class="display responsive no-wrap">
	<thead>
		<tr>
			<td>
				Nome Órgão
			</td>
			<td>
				Quantidade de visualizações
			</td>
			<td>
				Gasto total
			</td>
		</tr>
	</thead>
	<tbody>
	<% @public_agencies.each do |agency| %>
	  	<tr>
		  	<td>
		  	<%= link_to agency.name,public_agency_path(agency.id)%>
		  	</td>
		  	<td>
		  		<%= agency.views_amount %>
		  	</td>
		  	<td>
		  	<%= expenses_public_agency(agency.id)%>
		  	</td>
	  	</tr>
	<% end %>
	</tbody>
</table>