<%= provide(:title, "Orgaos Publicos") %>
<center><h2> 
  <strong><font color="white">Lista de Órgãos públicos </font></strong>
</h2></center>
<% if (@public_agencies.empty?) %>
  <strong> Não foi encontrado nenhum órgão</strong>
<% else %>
<!--	render the data_wice to show the list of public agencies -->
<%= render 'list_public_agencies' %>

<% end %>
