<%= provide(:title, "Orgaos Publicos") %>
<h1> 
  Lista de Órgãos publicos 
</h1>

<% isTableData = false #verify the type of table to show
   if (@public_agencies.empty?) %>
  <strong> Não foi encontrado nenhum órgão</strong>
<% elsif isTableData %>
  <!-- The first exemple of table -->
  <%= render 'list_public_agencies1' %>
<% else %>
	<!-- The second exemple of table, to execute this, is necessary
	execute the command rails g wice_grid:install-->
	<%= render 'list_public_agencies2' %>
<% end %>
