<%= provide(:title, "Orgaos Publicos") %>
<h1> 
  Lista de Órgãos publicos 
</h1>

<% isTableData = true #verify the type of table to show
   if (@public_agencies.empty?) %>
  <strong> Não foi encontrado nenhum órgão</strong>
<% elsif isTableData %>
  <!-- The first exemple of table -->
  <%= render 'list_public_agencies' %>
<% else %>
	Case 2:
<% end %>
