.select_box select {
		border: 0 !important;  
		-webkit-appearance: none; 
		-moz-appearance: none;
        appearance:none;
		background: #F38630 url(dropdown_arrow.png) no-repeat 90% center;
		width: 160px; 
		margin-left: 5px;
		margin-right: 10px;
		text-indent: 0.01px;
		text-overflow: ""; 
		color: white;
		border-radius: 15px;
		padding: 5px;
		box-shadow: inset 0 0 5px;
        border-radius: 10px 0;	
}
.select_box select:hover {
		background:  #036564 url(dropdown_arrow.png) no-repeat 90% center;
}
.select_box submit {
	background: -webkit-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: -moz-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: -o-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: -ms-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     border: 1px solid #CCCCCE;
     border-radius: 3px;
     box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                   0 2px 7px rgba(0, 0, 0, 0.2);
     color: #616165;
     display: block;
     font-family: "Trebuchet MS";
     font-size: 14px;
     font-weight: bold;
     line-height: 25px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     text-shadow:1px 1px 0 #FFF;
     padding: 5px 15px;
     position: relative;
     width: 80px;
}
#combobox{
	whidth:100%;
	margin-bottom: 10px;
}
#share{
	margin-top: 10px;
}