@import "bootstrap-sprockets";
@import "bootstrap";

body{
	font-family: Arial;
	position: fix;
	color: white;
	height: 100%;
	background: url('denim.png');
}
section{
	overflow: auto;
}
.head-container{	
	position: relative;
	width: 100%;
	heigth: 100%;
	background: green;
}
textarea{
	resize: vertical;
}

#name-application{
			padding-left: 45%;
			padding-top: 5%;
			color: red;
			position: relative;
			float: rigth;
			font-size: 20px;
			font: CenturyGothic;	
}
#head-page{
	position: relative;
	float: left;
}

.content-container{
	position: relative;
	background: blue;
}

.footer-container{	
	position: absolute;
	width: 90%;
	bottom: 0;
	background: gray;
	color: black;
}

#developer{
	
}
