@import "bootstrap-sprockets";
@import "bootstrap";

#headLogo{
   width: 100%;
   height: 100px;
   margin-bottom: 5px;
   margin-top: 5px;
   background: #0B486B;
   position: relative;
}

.head-container{  
  position: relative;
  width: 100%;
  heigth: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #0B486B;
}

#head-page{
  position: relative;
  float: left;
}

#name-application{
      padding-left: 45%;
      padding-top: 5%;
      color: red;
      position: relative;
      float: rigth;
      font-size: 20px;
      font: CenturyGothic;  
}
body{
	font-family: Arial;
	position: fix;
	color: black;
	height: 100%;
	background: #0B486B;
}

section{
	overflow: auto;
}

textarea{
	resize: vertical;
}

.content-container{
	position: fix;
	heigth: 100px;
  background: #4ECDC4;
}

.footer-container{	
	position: absolute;
	width: 100%;
  height: 5%; 
	bottom: 0;
	background: #4ECDC4;
	color: #0B486B;
}
#util_link ul
{
text-align: center;
color: #0B486B;
font-size: 18px;
margin-top: 12px;
list-style-type: none;
}

#util_link ul li { display: inline; }

a {
  text-decoration: none;
  color: #3B6C88;
}
a:hover {
  text-decoration: underline;
  color: #F38630;
}