<script type="text/javascript"> 

 $(document).ready(function(){
      var totalExpense = '<%= raw @correct_datas %>';
      b = JSON.parse(totalExpense);
     // totalExpense.to_json;
      var nodes_a = b[0];
      var edges_a = b[1];
      generate_nodes_edges(nodes_a, edges_a);
 });

  
function generate_nodes_edges(nodes_a, edges_a){ // on dom ready

var cy = cytoscape({
  container: document.getElementById('cy'),
  
  boxSelectionEnabled: false,
  autounselectify: true,
  
  style: [
    {
//Change style of node
      selector: 'node',
      css: {
        'content': 'data(id)',
        'text-valign': 'center',
        'text-halign': 'center',
        'background-color': 'darkorange'
      }
    },
    {
      selector: '$node > node',
      css: {
        'padding-top': '10px',
        'padding-left': '10px',
        'padding-bottom': '10px',
        'padding-right': '10px',
        'text-valign': 'top',
        'text-halign': 'center',
        'background-color': 'lightblue',
      }
    },
    {
      selector: 'edge',
      css: {
        'target-arrow-shape': 'triangle',
        'line-color': 'orange'
      }
    },
    {
//Don't work this part of code
      selector: ':selected',
      css: {
        'background-color': 'black',
        'line-color': 'black',
        'target-arrow-color': 'black',
        'source-arrow-color': 'black'
      }
    }
  ],
//Insert new elements
  elements: {
    nodes: nodes_a,
    edges: edges_a
  },
  
  layout: {
    name: 'preset',
    padding: 5
  }
});

}
</script>

<header class="codrops-header">
  <h1>Empresas</h1>
</header>

<div class="container">
  <div class="z-depth-3" style="width:auto; margin-right:auto;  margin-left:auto;">
    <div id="cy" style="width:auto; height:500px; margin-bottom:30px;"></div>
  </div>
  <div class="row">
      <div class="col s12">
        <div class="card-panel orange">         
          <span class="white-text">
      <b>Descrição do gráfico</b></p>
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
        </div>
      </div>
   </div>
</div>
