<div class="container">

  <h3> Como surgiu o Aondê? </h3>
  <p class="help_text">
    Aondê é um projeto fruto da interação entre duas disciplinas 
    do curso de Engenharia de Software da Universidade de Brasília 
    (UnB), Faculdade do Gama (FGA). 
  </p><p class="help_text">
    Os integrantes da disciplina de Gestão de Portifólios e 
    Projetos de Software (GPP) atuaram na gerência do projeto 
    Aondê, enquanto os membros da disciplina de Métodos de 
    Desenvolvimento de Software (MDS) atuaram como desenvolvedores.
  </p>

  <p></p>

  <h3> Mas por que Aondê? </h3>
    <p class="help_text">
      Aondê significa coruja em tupi-guarani, que é o nosso 
      mascote. 
      Mas por que coruja? A coruja é símbolo de conhecimento e 
      sabedoria. É capaz de enxergar na escuridão e tem visão de 
      longo 
      alcance. 
    </p><p class="help_text">
      Todas essas características estão relacionadas ao que 
      queremos 
      que nossos usuários obtenham: conhecimento e visão da 
      destinação 
      dada aos recursos da federação.
    </p>
    <p></p>

    <h3> O que posso encontrar no Aondê? </h3>

    Lista de Órgãos Públicos

    Gastos dos Órgãos Públicos

    Programas relacionados ao órgão

    Empresas relacionadas ao órgão

    Gastos detalhados por Tipo

    Orçamento do Órgão Público

    Gastos da Federação por Função

    <p></p>

    <h3> Mais informações do Aondê </h3>
    <p class="help_text">
      Mais informações relacionadas ao projeto Aondê podem ser 
      encontradas nos links abaixo:
    </p>
</div>