<div class="content_header">

  <h4>Ajuda</h4>
  <h6>
   <span>Descrição de todo o Aondê   </span> 
  </h6> 

</div>

<div class="conteiner_help">

  <h3> Como surgiu o Aondê? </h3>
    
    Aondê é um projeto fruto da interação entre duas disciplinas do curso de Engenharia de Software da Universidade de Brasília (UnB), Faculdade do Gama (FGA). 
    <br>
  
    Os integrantes da disciplina de Gestão de Portifólios e Projetos de Software (GPP) atuaram na gerência do projeto Aondê, enquanto os membros da disciplina de Métodos de Desenvolvimento de Software (MDS) atuaram como desenvolvedores.
    <p>

  <h3> Mas por que Aondê? </h3>
    
      Aondê significa coruja em tupi-guarani, que é o nosso mascote. Mas por que coruja? A coruja é símbolo de conhecimento e sabedoria. É capaz de enxergar na escuridão e tem visão de longo alcance. <br>
      
      Todas essas características estão relacionadas ao que queremos que nossos usuários obtenham: conhecimento e visão da destinação dada aos recursos da federação.
      
  <h3> O que posso encontrar no Aondê? </h3>

    Clicando em um dos órgãos da lista de órgãos públicos é possível explorar as informações abaixo: <p>
    
    Gastos do Órgão Público
    <br>
    Analise o quanto foi gasto pelo órgão público em um determinado período.
    <br><br>

    Programas relacionados ao Órgão Público
    <br>
    Veja em quais programas um órgão público investiu. 
    <br><br>

    Empresas relacionadas ao órgão público
    <br>
    Veja quais empresas foram contratadas por um órgão público específico.
    <br><br>

    Gastos detalhados por tipo de despesa
    <br>
    Visualize os gastos de um órgão público organizados por tipo de despesa. 
    <br><br>

    Orçamento do Órgão Público
    <br>
    Compare os orçamentos dos órgãos públicos com seus gastos.
    <br><br>

    Gastos da Federação por Função
    <br>
    Verifique em quais áreas da federação estão sendo investidos mais recursos.
    <br><br>

    <h3> Mais informações do Aondê </h3>
    <p class="help_text">
      Mais informações relacionadas ao projeto Aondê podem ser 
      encontradas nos links abaixo:

      <p></p>
      <a href=" http://lappis.unb.br/redm/projects/grupo-5-portal-da-transparencia/wiki"> WIKI </a>
      <P></P>
      <a href="https://github.com/GPP-MDS-2015-2/Aonde"> GITHUB 
      </a>
      <p></p>
      <a href="http://www.portaltransparencia.gov.br/downloads/mensal.asp?c=GastosDiretos">
        PORTAL DA TRANSPARENCIA
      </a>
      <p></p>
      <a href=" http://orcamento.dados.gov.br/">
        Dados de Orçamento
      </a>
      <p></p>
      <a href="https://www.fga.unb.br/"> PORTAL DA FGA </a>
      <p></p>

    </p>
</div>