#buttontype{
	position: relative;
	float: left;
}
#select_box select {
		border: 0 !important;  
		-webkit-appearance: none; 
		-moz-appearance: none;
        appearance:none;
		background: #F38630 url(dropdown_arrow.png) no-repeat 90% center;
		width: 160px; 
		margin-left: 5px;
		margin-right: 10px;
		text-indent: 0.01px;
		text-overflow: ""; 
		color: white;
		border-radius: 15px;
		padding: 5px;
		box-shadow: inset 0 0 5px;
        border-radius: 10px 0;	
}
#select_box select:hover {
		background:  #036564 url(dropdown_arrow.png) no-repeat 90% center;
}

#combobox{
	whidth:100%;
	margin-bottom: 10px;
}
#share{
	margin-top: 10px;
}
input{
  background: #F38630;
  color: white;
  width: 70px;
  height: 35px;
  border-radius: 10px 10px 10px 10px;  
}

input.selected{
	background: #036564;	
	color: white;
}

input:hover{
  background:  #036564;
  color: white;
}