.conteiner_help{
	margin-left: 14%;
	font-size: 20px;
	margin-right: 14%;
}
.conteiner_help br{
	margin-bottom: 18px;
}
.container_help p{
	margin-bottom: 50px;
}

.conteiner_help img{
	width:70px;
	height: 70px;
	margin-left: 60px;
}