
.content_table{
  width: 960px;
  height:auto;
  margin-right:auto;
  margin-left:auto;
  margin-top:35px;
  margin-bottom:35px;
  position:fix;
  heigth:100px;
  background:#036564;
}

body{
	font-family: Arial;
	position: fix;
	color: black;
	height: 100%;
}
section{
	overflow: auto;
}

textarea{
	resize: vertical;
}
#imageCenter{
  width: 100%;
  height: 500px; 
}
#cont_share{
  background: #F38630;
  width: 200px;
  height: 30px;
  margin-top: 10px;
  border-radius: 10px 10px 10px 10px;  
}
.msg_error{
  backgroud: #FEEFB3;
  color: #D8000C;
  margin: 3px 0px;
  padding: 2px;
  font-size: 20px;
}
.msg_error i {
  margin: 3px 22px;
  font-size: 20px;
  vertical-aling: middle;
}

#cont_share{
  background: #F38000;
  width: 260px;
  height: 30px;
  margin-top: 10px;
  border-radius: 10px 10px 10px 10px;  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbd5b7), color-stop(40%, #f38630));
}
#cont_share a{
  color: blue;
}
#CompanyTable{
  text-align: center;
}
#Exibir {
  background: #F38000;
  text-align: center;
  cursor: pointer;
  width: 260px;
  height: 30px;
  border-radius: 10px 10px 10px 10px;  
}
a.exibir {
  text-align: center;
  color: white;
  font-size: 18px;
  margin-top: 10px;
  list-style-type: none;
  text-align: center;
}
a.exibir:hover {
  text-decoration: underline;
  color: #036564;
}

#contetion_combobox_search{
  width:150px;
  margin:auto;
}

#menu{
  width:50px;
  height:auto;
  margin-top:0;
  background:#FF8F2F;
  position:fixed;     
}

.codrops-header,
.codrops-header {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.codrops-header h1 {
  margin: 30px;
  font-weight: 300;
  font-size: 2.625em;
  line-height: 1.3;
}

.codrops-header span {
  display: block;
  padding: 0 0 0.2em 0.1em;
  font-size: 60%;
  color: #aca89a;
}

/* To Navigation Style */
.codrops-top {
  width: 100%;
  text-transform: uppercase;
  font-size: 0.69em;
  line-height: 2.2;
  font-weight: 400;
  background: rgba(255,255,255,0.3);
}

.codrops-top a {
  display: inline-block;
  padding: 0 1em;
  text-decoration: none;
  letter-spacing: 0.1em;
}
.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  display: block;
  float: left;
}

#slide-out a{
  text-decoration: none;
}

#container_render{
  margin-bottom:155px; 
  width:946px; 
  height:auto; 
  margin-right:auto; 
  margin-left:auto;
}
#content_table{
  background:#FF8F2F; 
  width:960px; 
  margin-left:auto; 
  margin-right:auto; 
  margin-bottom:155px; 
  margin-top:30px;
}
#contencao_outros{
  width:1160px;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  margin-top:15px;
  margin-bottom:100px; 
  padding:10px;
  /*background:#CCC;*/
}