body{
  height: 100%;
  background:#F4F4F4;
  color: #603813;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;    
}

.content_table{
  width: 960px;
  height:auto;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:35px;
  background:#036564;
}

.content_header{
  width: 960px;
  height: 80px;
  margin-right:auto;
  margin-left:auto;
  margin-top:35px;
  margin-bottom:35px;
  background-color: #603813;
  color: white;
}

.content_header h6 {
  color: #ac6122;
  margin-top: -60px;
  text-align: right;
  font-style: italic;
  font-size: 18px;
}

.content_header h4 {
  text-align: left;
  padding: 20px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
}

section{
	overflow: auto;
}

textarea{
	resize: vertical;
}

#imageCenter{
  width: 100%;
  height: 500px; 
}

#share{
  width: 200px;
  height: 30px;
  margin-top: 10px;  
}
#share button {
  margin-left:22px;
}

.msg_error{
  backgroud: #FEEFB3;
  color: #D8000C;
  margin: 3px 0px;
  padding: 2px;
  font-size: 20px;
}

.msg_error i {
  margin: 3px 22px;
  font-size: 20px;
  vertical-aling: middle;
}

#CompanyTable{
  text-align: center;
}

#Display {
  background: #F38000;
  text-align: center;
  cursor: pointer;
  width: 260px;
  height: 30px;
  border-radius: 10px 10px 10px 10px;  
}

a.display {
  text-align: center;
  color: white;
  font-size: 18px;
  margin-top: 10px;
  list-style-type: none;
  text-align: center;
}

a.display:hover {
  text-decoration: underline;
  color: #036564;
}

#contetion_combobox_search{
  width:150px;
  margin:auto;
}

#menu{
  width:50px;
  height:auto;
  margin-top:0;
  background:#FF8F2F;
  position:fixed;     
}

.codrops-header,
.codrops-header {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.codrops-header h1 {
  margin: 30px;
  font-weight: 200;
  font-size: 2.625em;
  line-height: 1.3;
}

.codrops-header span {
  display: block;
  padding: 0 0 0.2em 0.1em;
  font-size: 60%;
  color: #aca89a;
}

/* To Navigation Style */
.codrops-top {
  width: 100%;
  text-transform: uppercase;
  font-size: 0.69em;
  line-height: 2.2;
  font-weight: 300;
  background: rgba(255,255,255,0.3);
}

.codrops-top a {
  display: inline-block;
  padding: 0 1em;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  display: block;
  float: left;
}

#slide-out a{
  text-decoration: none;
}

#container_render{
  margin-bottom:155px; 
  width:946px; 
  height:auto; 
  margin-right:auto; 
  margin-left:auto;
}

#content_table{
  background:#FF8F2F; 
  width:960px; 
  margin-left:auto; 
  margin-right:auto; 
  margin-bottom:155px; 
  margin-top:60px;
}

#container_tabs{
  width:960px;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  margin-top:15px;
  margin-bottom:100px; 
  padding:10px;
}

#content_menu{
  width:auto;
  height:90px;
  font-size: 25px;
  background: white;
}
#government_spending{
  height:430px;
  padding: 80px 0;
  background: #FBB23C;
}
#video{
  width:370px;
  height:220px;
  margin-right:50px;
  float: left; 
  margin-left:50px;
  border:3px solid #603813;
}
img {
  width: 100%;
  height: 100%;
}

#info{
  width:600px;
  float: left;
  color:white;
}
#info h1{
  font-size:58px;
  font-weight:700;
  margin-top:10px;
}
#info h2{
  font-size:20px;
  font-weight:700;
}
footer{
  width:auto;
  height:25px;
  background: #603813;
}
#free{
  width:auto;
  height:500px;
  background: white;
}

canvas{
  cursor: crosshair;
}

#free input{
  border: #CCC solid 1px;
  border-radius: 6px;
  color: #999;
  font-size: 14px;
}

.filter{
  left: 25%;
}
.chart{
  padding-top: 30px;
}
#textarea1{
  border: #CCC solid 1px;
  border-radius: 6px;
  color: #999;
  font-size: 14px;
}

#search_bar input{
  border: #CCC solid 1px;
  border-radius: 6px;
  color: #999;
  font-size: 14px;
}